@tailwind base;
@tailwind components;

.card .card__inner {
  @apply .opacity-0;
  transition: all .3s ease-in-out;
  transform: translateY(1.25rem);
}

.card:hover .card__inner {
  @apply .opacity-100;
  transform: translateY(0);
}

@tailwind utilities;

.img-aspect-16\:9 {
  padding-top: 56.25%;
}